.point-guitar {
  background-image: url("/src/images/guitar-background-center.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
}
